@import "index";

.nav-wrapper {
  background: $main-background-colour-dark;
  display: flow-root;
  z-index: 1000000;
  width: 100%;
  position: fixed;

  .navbar {
    position: initial;
    top: 0;
    height: fit-content;
    line-height: 2.4vw;
    width: $default-margin-width;
    text-align: center;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    margin: 1vw auto;

    .menu {
      display: inline-block;
      float: right;
      list-style: none;
      margin-top: 0;
      margin-right: 0.56px;
      margin-bottom: 0;
      text-align: right;
      transition: transform 0.5s ease-out;
      -webkit-transition: transform 0.5s ease-out;

      .menu-item {
        display: inline-block;
        margin: 0 2vw;

        a {
          display: block;
          position: relative;
          text-decoration: none;
          transition: all 0.5s ease;
        }

        a:hover {
          /* border-bottom: 1px solid rgb(28, 121, 184); */
          color: rgb(28, 121, 184);
          transition: all 1s ease;
        }

        /* Animated Bottom Line */
        a:before,
        a:after {
          content: "";
          position: absolute;
          width: 0%;
          height: 1px;
          bottom: 0;
          background: $off-white !important;
        }

        a:before {
          left: 0;
          transition: 0.5s;
        }

        a:after {
          background: $off-white !important;
          right: 0;
          transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        a:hover:before {
          background: $off-white !important;
          width: 100%;
          transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        a:hover:after {
          background: transparent;
          width: 100%;
          /* transition: 0s; */
        }
      }

      .menu-item.active {
        a:before,
        a:after {
          width: 100%;
        }
      }
    }

    @media (max-width: 640px) {
      #navbar ul {
        display: none;
      }
    }
    @media (orientation: landscape) {
      #navbar ul {
        display: inline-block;
      }
    }
  }
}

@media screen and (max-width: $mobile-view-max-width) {
  .nav-wrapper {
    .navbar {
      width: $default-mobile-margin-width;
    }
  }
}
